.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
  margin-bottom: 10px;
}
.product-info {
  margin: 0 14px;
}
.product-price {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.product-info1 p {
  margin-bottom: 0;
  margin-top: 7px;
}
.btn-cart {
  width: 100%;
  height: 48px;
  background: #f3cc92;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background: #ffc002;
}
.btn-text{
  margin-right: 7px;
}
