.header {
  background: #1c2b35;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
}
.header a {
  text-decoration: none;
  margin-left: 36px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
}
.header a:hover {
  color: #f2c94c;
}
